<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailbox Club Indonesia</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body style="font-family: 'Roboto', sans-serif; padding: 10px; text-align: center;">
    <div style="max-width: 800px; margin: 0 auto;">
      <img src="https://mailboxclubindonesia.org/img/tmc-logo-id.jpg" alt="Mailbox Indonesia" style="width: 200px; display: block; margin: 0 auto;">
      <h1 style="font-size: 23px; margin-bottom: 10px;">Registrasi Akun</h1>
      <p style="margin: 10px 0; font-size: 14px; line-height: 1.5;" th:text="'Salam sejahtera ' + ${fullName} + '! Registrasi akun anda telah berhasil. Selamat bergabung di Mailbox Club Indonesia, anda dapat mengakses materi atau buku pemuridan secara daring. Jika anda ingin mendapatkan materi atau buku dalam bentuk cetak, anda dapat melakukan pemesanan.'">
        Salam sejahtera! Registrasi akun anda telah berhasil. Selamat bergabung di Mailbox Club Indonesia, anda dapat mengakses materi/buku pemuridan secara daring. Jika anda ingin mendapatkan materi/buku dalam bentuk cetak, anda dapat melakukan pemesanan.
      </p>
      <br>
      <div style="padding: 0; margin-top: 10px;">
        <p style="padding: 0; margin: 0; font-size: 12px; color: #5c5d5e;">
          Karawaci Residence Blok C2 Nomor 2, Tangerang, Banten
        </p>
        <a style="padding: 0; margin: 0; font-size: 12px; color: #5c5d5e;" href="https://www.mailboxclubindonesia.org/">
          www.mailboxclubindonesia.org
        </a>
        <p style="padding: 0; margin: 0; font-size: 12px; color: #5c5d5e;">
          +628119756222
        </p>
      </div>
    </div>
  </body>
</html>
